/*
 * Home Navigation
*/

header{
  animation: opacity-in .375s ease-in-out .500s forwards;
  &:before {
    content: "";
    height: 200px;
    background-image: linear-gradient(180deg, rgba(26,40,54,0.95) 0%, rgba(26,40,54,0.00) 100%);
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  ul{
    z-index: 2;
    position: absolute;
    right: 55px;
    top: 60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
      padding: 0 25px;
      button {
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px;
        &.logo{
          position: absolute;
          left: 80px;
          top: 50%;
          transform: translateY(-50%);
          text-transform: lowercase;
          font-size: 33px;
        }
      }
    }
  }
}