/* 
 * Page Transition Component Styles
*/

.page{
  position: relative;
  z-index:3;
}
.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 99999;
  background-image: linear-gradient(0deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
}
