// Colors
$white: #fff;
$light: #E8FFF5;
$yellow: #FFE800;
$blue: #0000FF;
$dark:#1A2736;

// Fonts
$font-titles:'Morganite Black';
$font-text:'Monument Extended Regular';

// Common
$page-padding:95px;
$col-w:calc( ( 100vw - (#{$page-padding}*2) ) / 12);
$col-h:calc( ( 100vh - (#{$page-padding}*2) ) / 12)